 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

 :root {
    --a: 0;
 }


 * {
    margin: 0%;
    padding: 0%;
    font-family: 'Poppins', sans-serif;
 }


 body {
    background-color: black;
 }


 .left {
    width: 25vw;
    padding: 10px;
 }

 .right {
    width: 75vw;
    margin: 16px 0;
    position: relative;
    /* max-height: 100vh; */
    /* overflow: scroll; */
 }

 .home ul li {
    width: 14px;
    list-style: none;
    display: flex;
    gap: 15px;
    padding-top: 14px;
    font-weight: bold;
 }

 .heading {

    width: 100%;
    list-style: none;
    display: flex;
    gap: 15px;
    padding-top: 14px;
    padding: 23px 14px;
    font-weight: bold;
    align-items: center;
    font-size: 13px;

 }

 .library {
    min-height: 80vh;
    position: relative;
 }

 .heading img {
    width: 30px;
 }

 .footer {
    position: absolute;
    bottom: 0%;
    display: flex;
    font-size: 8px;
    gap: 13px;
    padding: 10px 0px;
 }

 .footer a {
    color: grey;
 }

 .header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(36, 36, 36);
    height: 74px;

 }

 .header>* {
    padding: 20px;
 }

 .spotify-playlists {
    padding: 16px;
 }

 .spotify-playlists h1 {
    padding: 16px;
 }

 .spotify-playlists .card {
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(37, 36, 36);
 }

 .cardcontainer {
    display: flex;
    gap: 10px;
    margin: 30px;
    flex-wrap: wrap;
    overflow-y: auto;
    max-height: 55vh;
 }

 .card>* {
    padding-top: 10px;
 }

 .card img {
    width: 100%;
    object-fit: contain;
 }

 .card {
    position: relative;
    border-radius: 5px;
    background-color: #252525;
    transition: all .7s ease-in-out;
 }

 .card:hover {
    cursor: pointer;
    background-color: rgb(103, 102, 102);
    --a: 1;

 }

 .play {
    position: absolute;
    top: 168px;
    right: 17px;
    opacity: var(--a);
    transition: all 1s ease-in-out;
 }


 .signbtn {
    font-weight: bold;
    background-color: rgb(36, 36, 36);
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
 }

 .signbtn:hover {
    font-size: 1rem;
    color: white;
 }

 .buttons>* {
    margin: 0 12px;
 }

 .logbtn {
    background-color: white;
    border-radius: 21px;
    color: black;
    cursor: pointer;
    padding: 10px;
    width: 79px;
 }

 .logbtn:hover {
    font-weight: bold;
    font-size: 14px;
 }

 .playbar {
    position: fixed;
    bottom: 25px;
    filter: invert(1);
    background-color: #dad5d5;
    border-radius: 13px;
    width: 70vw;
    padding: 12px;
    min-height: 40px;
    /* font-size:10px; */

 }

 .seekbar {
    position: absolute;
    height: 4px;
    width: 69vw;
    margin: 6px;
    background: black;
    border-radius: 10px;
    bottom: 0;
    cursor: pointer;
 }

 .circle {
    position: relative;
    bottom: 6px;
    left: 0%;
    width: 13px;
    height: 13px;
    border-radius: 13px;
    background-color: black;
    transition: left 0.5s;
 }

 .songbutton {
    display: flex;
    justify-content: center;
    gap: 12px;
 }

 .songlist {
    height: 400px;
    overflow: auto;
    margin: 44px 0;
 }

 .songlist ul {
    padding: 0 2px;
 }

 .songlist ul li {
    list-style-type: decimal;
    display: flex;
    gap: 8px;
    cursor: pointer;
    padding: 12px 0;
    border: 2px solid white;
    margin: 12px;
    padding: 13px;
    border-radius: 5px;
    justify-content: space-between;

 }

 .songlist .info {
    font-size: 10px;
    width: 350px;
 }

 .info>div {
    word-break: break-all;
 }

 .playnow {
    display: flex;
    gap: 14px;
    width: 64px;
 }

 .playnow span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
 }

 .songbutton img {
    cursor: pointer;
 }


 .songinfo,
 .songtime {
    color: black;
    padding: 0 12px;
    width: 250px;
 }

 .songtime {
    width: 135px;
 }

 .abovebar {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
 }

 .hamburger {
    display: none;
    height: 26px;
    width: 20px;
    cursor: pointer;
 }

 .hamburgerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;

 }

 .close {
    display: none;
 }

 .volti {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
 }

 .volume {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    gap: 12px;
    cursor: pointer;
 }

 .range {
    cursor: pointer;
 }



 @media (max-width : 1294px) {
    .left {
       background-color: black;
       position: absolute;
       left: -100%;
       transition: all .3s;
       z-index: 1;
       width: 373px;
       padding: 0%;
       max-height: 100vh;
    }

    .songinfo {
       width: auto;
    }

    .songtime {
       width: auto;
    }

    .close {
       display: block;
       position: absolute;
       right: 30px;
       top: 25px;
       width: 29px;
    }

    .playbar {
       width: calc(100vw - 70px);
    }

    .seekbar {
       width: calc(100vw - 74px);
    }

    .right {
       width: 100vw;
       margin: 0%;
    }

    .hamburger {
       display: block;
    }

    .card {
       width: 90vw;
    }

    .cardcontainer {
       width: 90vw;
       justify-content: center;
       margin: 0;
       padding: 0%;
    }

    .abovebar {
       flex-direction: column;
       gap: 23px;
       align-items: center;
    }

    .volti {
       display: flex;
       flex-direction: column;
       justify-content: space-evenly;
       align-items: center;
       gap: 13px;
    }

    .cardcontainer {
       max-height: 53vh;
    }
 }


 @media (max-width: 550px) {

    .spotifyPlaylists h1 {
       padding: 0;
       margin: 0%;

    }

    .buttons>* {
       margin: 9px 15px;
    }

   .hamburgerContainer{
      margin: 15px 10px;
    }

    .card {
       width: 100%;
    }

    .header>* {
      padding: 2px;
  }

  .cardcontainer{
   max-height: 48vh;
  }

  .playbar{
   display: flex;
   justify-content: center;
   align-items: center;
   right: 24px;
  }

  .left{ 
   width: 100vw;
}




 }